CLANG_ENABLE_MODULES = NO
CODE_SIGNING_ALLOWED = NO
COMPILER_INDEX_STORE_ENABLE = NO
DEBUG_INFORMATION_FORMAT =
DYNAMIC_LIBRARY_EXTENSION = dll
EFFECTIVE_PLATFORM_NAME = -windows
EXECUTABLE_PREFIX =
GENERATE_INTERMEDIATE_TEXT_BASED_STUBS = NO

CC =
CXX =
LD = $CLANG_PLATFORM_DIR/bin/clang
LDPLUSPLUS = $CLANG_PLATFORM_DIR/bin/clang++
LD_DEPENDENCY_INFO_FILE =
LD_LTO_OBJECT_FILE =
LIBTOOL = $CLANG_PLATFORM_DIR/bin/llvm-lib-wrapper
LIBTOOL_DEPENDENCY_INFO_FILE =
ALTERNATE_LINKER = lld-link-wrapper

PLATFORM_TARGET[arch=arm] = thumbv7a-pc-windows-msvc
PLATFORM_TARGET[arch=arm64] = aarch64-pc-windows-msvc
PLATFORM_TARGET[arch=x86] = i686-pc-windows-msvc
PLATFORM_TARGET[arch=x86_64] = x86_64-pc-windows-msvc

HEADER_SEARCH_PATHS = $(inherited) /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/c++/v1
HEADER_SEARCH_PATHS = $(inherited) $CLANG_PLATFORM_DIR/windows-msvc/include
HEADER_SEARCH_PATHS = $(inherited) $CLANG_PLATFORM_DIR/windows-msvc/shared
HEADER_SEARCH_PATHS = $(inherited) $CLANG_PLATFORM_DIR/windows-msvc/ucrt
HEADER_SEARCH_PATHS = $(inherited) $CLANG_PLATFORM_DIR/windows-msvc/um
LIBRARY_SEARCH_PATH[arch=arm] = $(inherited) -Wl,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/arm,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/arm/ucrt,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/arm/um
LIBRARY_SEARCH_PATH[arch=arm64] = $(inherited) -Wl,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/arm64,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/arm64/ucrt,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/arm64/um
LIBRARY_SEARCH_PATH[arch=x86] = $(inherited) -Wl,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/x86,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/x86/ucrt,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/x86/um
LIBRARY_SEARCH_PATH[arch=x86_64] = $(inherited) -Wl,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/x64,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/x64/ucrt,-libpath:$CLANG_PLATFORM_DIR/windows-msvc/lib/x64/um
LINK_DEBUG_PATH[config=Debug] = -Wl,-debug,-pdb:$(TARGET_BUILD_DIR)/$(PROJECT_NAME).pdb
LINK_DEBUG_PATH[config=Release] = -Wl,-debug,-pdb:$(TARGET_BUILD_DIR)/$(PROJECT_NAME).pdb,-opt:ref,-opt:icf
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-conio-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-convert-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-environment-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-filesystem-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-heap-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-locale-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-math-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-multibyte-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-private-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-process-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-runtime-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-stdio-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-string-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-time-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,api-ms-win-crt-utility-l1-1-0.lib
LINK_LIBRARY_NAME = $(inherited) -Wl,chkstk.obj,oldnames.lib,kernel32.lib,user32.lib,winmm.lib,imm32.lib,gdi32.lib,dwmapi.lib,shell32.lib

OTHER_CFLAGS = $(inherited) -fdata-sections -ffunction-sections -fno-threadsafe-statics
OTHER_CFLAGS = $(inherited) -g -gcodeview -GS- -D_CRT_USE_BUILTIN_OFFSETOF -D_LIBCPP_NO_AUTO_LINK -fms-compatibility-version=19
OTHER_CFLAGS[arch=arm] = $(inherited) -target thumbv7a-pc-windows-msvc
OTHER_CFLAGS[arch=arm64] = $(inherited) -target aarch64-pc-windows-msvc
OTHER_CFLAGS[arch=x86] = $(inherited) -target i686-pc-windows-msvc -D_CRT_STDIO_INLINE="__declspec(noinline) __inline" -fmax-type-align=8
OTHER_CFLAGS[arch=x86_64] = $(inherited) -target x86_64-pc-windows-msvc
OTHER_CPLUSPLUSFLAGS = $(inherited) -D_LIBCPP_DISABLE_VISIBILITY_ANNOTATIONS
OTHER_CPLUSPLUSFLAGS = $(inherited) -D_LIBCPP_HAS_NO_VENDOR_AVAILABILITY_ANNOTATIONS
OTHER_CPLUSPLUSFLAGS = $(inherited) -Wno-c++11-narrowing

OTHER_LDFLAGS = $(inherited) -Wno-unused-command-line-argument
OTHER_LDFLAGS[arch=arm] = $(inherited) -target thumbv7a-pc-windows-msvc -v -Wl,-nodefaultlib $(LIBRARY_SEARCH_PATH) $(LINK_DEBUG_PATH) $(LINK_LIBRARY_NAME) -Wl,divide.obj,fptoi64.obj,helpexcept.obj,i64tofp.obj
OTHER_LDFLAGS[arch=arm64] = $(inherited) -target aarch64-pc-windows-msvc -v -Wl,-nodefaultlib $(LIBRARY_SEARCH_PATH) $(LINK_DEBUG_PATH) $(LINK_LIBRARY_NAME)
OTHER_LDFLAGS[arch=x86] = $(inherited) -target i686-pc-windows-msvc -v -Wl,-nodefaultlib $(LIBRARY_SEARCH_PATH) $(LINK_DEBUG_PATH) $(LINK_LIBRARY_NAME) -Wl,atlssup.obj,int64.lib
OTHER_LDFLAGS[arch=x86_64] = $(inherited) -target x86_64-pc-windows-msvc -v -Wl,-nodefaultlib $(LIBRARY_SEARCH_PATH) $(LINK_DEBUG_PATH) $(LINK_LIBRARY_NAME)

WARNING_CFLAGS = $(inherited) -Wno-comment -Wno-expansion-to-defined -Wno-ignored-attributes -Wno-ignored-pragma-intrinsic -Wno-macro-redefined -Wno-microsoft-cast -Wno-microsoft-enum-forward-reference -Wno-nonportable-include-path -Wno-pragma-pack -Wno-unreachable-code -Wno-unused-command-line-argument -Wno-unused-function -Wno-unused-variable -Wno-unused-value

ARCHS = arm arm64 x86 x86_64
VALID_ARCHS = arm arm64 x86 x86_64
EXCLUDED_ARCHS = arm arm64 x86
